<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
        <script src="{{ asset('js/lib/jquery-1.12.4-min.js') }}"></script>
        <script src="{{ asset('js/lib/bootstrap.min.js') }}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %} {% endblock %}
    </body>
</html>
